<!-- Search form -->

<div class="d-flex flex-column-reverse">

  <div class="p-2">

    <div class="col-md-6 col-11 mx-auto">

      <!-- maxFileSize equal to 1mb -->
      <p-fileUpload [fileLimit]="1" name="video[]" [style]="{'width':'100%'}" multiple="multiple" customUpload="true"
        [showUploadButton]="true" (uploadHandler)="uploadVideo($event)" accept="video/*" maxFileSize="1000000"
        cancelIcon="pi-angle-right">
        <ng-template pTemplate="content">


          <!-- <ul *ngIf="uploadedFiles.length">
            <h5 *ngFor="let file of uploadedFiles">{{file.name}}</h5>
          
            <li *ngFor="let file of uploadedFiles">{{file.size}} bytes</li>
          </ul> -->


          <p-progressBar [value]="uplodingValue"></p-progressBar>
          <span class="text-info h5 h5-responsive" *ngIf="uploading">
            Video Uploading
          </span>
          <span class="text-success h5 h5-responsive" *ngIf="uploaded">
            Video Uploaded
            <i class="fas fa-check"></i>
          </span>
        </ng-template>
      </p-fileUpload>

    </div>


  </div>
</div>

<div class="p-2 container">
  <!-- Search Bar -->
  <section class="row">
    <div class="col-6 m-auto">
      <input [(ngModel)]="searchValue" class="form-control" type="text" placeholder="Search Image" aria-label="Search">

      <button class="btn btn-mdb-color text-white ml-0" (click)=" startPredictionProcess()">Initialize Prediction
        Process

      </button>

        <button class="btn btn-primary text-white" (click)="getProcessedImagesList()">Get/Refresh Predicted Data
        
        </button>
      <!-- *ngIf="predicting" -->
      <span *ngIf="predicting">(Processing)


        <i class="fas animated swing faster fa-ellipsis-h infinite"></i>
      </span>
    </div>

  </section>
  <!-- End Search Bar -->
  <div class="p-2 container">

    <section class="row">
      <!-- Card -->

      <div *ngFor="let image of processedImagesList | ImageListFilter: searchValue"
        class="card col-lg-4 col-sm-4 p-0 mx-auto my-1">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" style="height: 100%;object-fit: cover;" [src]="image.file_url" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>

          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title p-2 my-0 font-weight-bold">{{image.name}}</h4>

          <h5 class="badg badge-primar p-3 m- h5 h5-responsive">pred: {{image.pred}}</h5>
          <h5 class="badg badge-primar p-3 m- h5 h5-responsive">n: {{image.n}}</h5>

        </div>

      </div>
      <!-- Card -->

      <div class="col-auto jumbotron mt-5 mx-auto blue white-text"
        *ngIf="(processedImagesList | ImageListFilter: searchValue).length ===0 && searchValue">
        No images found in search list

      </div>

      <app-skeleton-card *ngIf="!processedImagesList && predicting" class="m-auto" [iterations]="3"></app-skeleton-card>
    </section>


  </div>



</div>