body,
html {
	height: 90%;
}

.page-footer,
.top-nav-collapse {
	background-color: rgb(212, 231, 240); /* rgba(10, 83, 252, 0.849); rgba(212, 231, 240, 0.363); */
}
#cover.view .back {
	background-size: cover;
	background-position: center;
	background-size: 65%;
}
#cover.view {
	height: 100%;
}

@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		background-color: rgb(212, 231, 240) !important;
	}
}
@media only screen and (max-width: 768px) {
	.navbar {
		background-color: rgb(255, 255, 255);
	}
}
@media (min-width: 0px) and (max-width: 800px) {

	.top-nav-collapse {
		background-color: rgb(212, 231, 240); /* rgba(10, 83, 252, 0.849); rgba(212, 231, 240, 0.363); */
	}
	#cover.view .back {
		background-repeat: no-repeat;
		margin-top: 59px;

		background-size: cover;
		background-position: center;
	}
}
